@page
@model HomeModel
@{
    ViewData["Title"] = "Admin";
}

<div class="adminhome">
    <div class="adminhome-container">
        <div class="adminhome-interface-page">
            <a asp-page="./Add" class="adminhome-interface-page-add">Добавить</a>
        </div>
        <div class="adminhome-list">
            @{
                <div class="adminhome-grid adminhome-grid--header">
                    <div>ID</div>
                    <div>Фото</div>
                    <div>Название</div>
                    <div>Описание</div>
                    <div>Действия</div>
                </div>
                foreach (var f in Model.fishList)
                {
                    <div class="adminhome-list-item adminhome-grid adminhome-grid--row">
                        <span class="adminhome-item-id">@f.Id</span>
                        <div class="list-item-img-container">
                            <img src="@f.ImagePath" alt="@f.Name" class="list-item-img">
                        </div>
                        <h2 class="adminhome-item-name">@f.Name</h2>
                        <p class="adminhome-item-desc">@f.Description</p>
                        <div class="adminhome-item-actions">
                            <a asp-page="./Update" asp-route-id="@f.Id" class="adminhome-item-actions-update" >Изменить</a>
                            <form method="post" asp-page-handler="Delete" class="adminhome-item-action-del" asp-route-id="@f.Id" onsubmit="return confirm('Подтвердить удаление?');">
                                <button class="adminhome-item-action-del-buttton">Удалить</button>
                            </form>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>